html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

ol,
ul,
li {
  list-style: none;
}


a {
  text-decoration: none;
  color: #fff;
}

input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  font: inherit;

  display: block;
  overflow: visible;

  box-sizing: content-box;
  padding: 0;

  cursor: pointer;
  user-select: none;

  color: inherit;
  border: 0;
  outline: none;
  background: none;
  background-color: transparent;
}

input {
  outline: none;
}

fieldset {
  border: none;
}
